.ant-table{
    border-top:2px solid @primary-3;

    tr.error{
        background: #fff1f0;
    }

    input[type=number]{
        padding-right:3px;
        padding-left:8px;
    }

    .ant-table-tbody>tr.ant-table-expanded-row:hover>td{
        background: white;
    }
}

.ant-table-row:nth-of-type(odd){
    background: #f7f8fb;
}

.table-detail{
    width: 100%;
    border: 1px solid #e8e8e8;

    th,td{
        border-bottom: 1px solid #e8e8e8;
        border-right:1px solid #e8e8e8;
        padding:8px;
    }

    th{
        background: #f6f6f6;
        text-align: right;
        width: 20%;
        font-weight: normal;
    }

    td{
        width: 30%;
    }
}
.table-detail-ant{
    th{
        background: #f6f6f6 !important;
    }
}