body {
  margin:0px;
  background-color:rgba(81, 81, 81, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1619px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:60px;
  background:inherit;
  background-color:rgba(86, 186, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4619 {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:60px;
}
#u4620 {
  position:absolute;
  left:2px;
  top:22px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:774px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4621 {
  position:absolute;
  left:0px;
  top:60px;
  width:1620px;
  height:774px;
}
#u4622 {
  position:absolute;
  left:2px;
  top:379px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:60px;
  background:inherit;
  background-color:rgba(86, 186, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u4623 {
  position:absolute;
  left:65px;
  top:0px;
  width:366px;
  height:60px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u4624 {
  position:absolute;
  left:10px;
  top:16px;
  width:354px;
  word-wrap:break-word;
}
#u4625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u4625 {
  position:absolute;
  left:28px;
  top:15px;
  width:31px;
  height:29px;
}
#u4626 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u4627 {
  position:absolute;
  left:1353px;
  top:0px;
  width:267px;
  height:60px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u4628 {
  position:absolute;
  left:2px;
  top:15px;
  width:235px;
  word-wrap:break-word;
}
#u4629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:774px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4629 {
  position:absolute;
  left:0px;
  top:60px;
  width:234px;
  height:774px;
}
#u4630 {
  position:absolute;
  left:2px;
  top:379px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4631 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1384px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4632 {
  position:absolute;
  left:236px;
  top:60px;
  width:1384px;
  height:45px;
}
#u4633 {
  position:absolute;
  left:2px;
  top:14px;
  width:1380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:35px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4634 {
  position:absolute;
  left:243px;
  top:65px;
  width:106px;
  height:35px;
  color:#FFFFFF;
}
#u4635 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u4636 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:35px;
  background:inherit;
  background-color:rgba(86, 186, 237, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4637 {
  position:absolute;
  left:358px;
  top:65px;
  width:137px;
  height:35px;
  color:#FFFFFF;
}
#u4638 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u4639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4639 {
  position:absolute;
  left:465px;
  top:73px;
  width:20px;
  height:20px;
}
#u4639_img.mouseOver {
}
#u4639.mouseOver {
}
#u4640 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4641 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4642 {
  position:absolute;
  left:19px;
  top:81px;
  width:70px;
  height:70px;
}
#u4643 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u4644 {
  position:absolute;
  left:29px;
  top:95px;
  width:50px;
  height:42px;
}
#u4645 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4646 {
  position:absolute;
  left:19px;
  top:150px;
  width:70px;
  height:30px;
}
#u4646_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4646.mouseOver {
}
#u4647 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u4648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4648 {
  position:absolute;
  left:89px;
  top:81px;
  width:121px;
  height:27px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4649 {
  position:absolute;
  left:10px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u4650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4650 {
  position:absolute;
  left:89px;
  top:108px;
  width:121px;
  height:21px;
  text-align:left;
}
#u4651 {
  position:absolute;
  left:10px;
  top:3px;
  width:109px;
  word-wrap:break-word;
}
#u4652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4652 {
  position:absolute;
  left:89px;
  top:128px;
  width:121px;
  height:21px;
  text-align:left;
}
#u4653 {
  position:absolute;
  left:10px;
  top:3px;
  width:109px;
  word-wrap:break-word;
}
#u4654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4654 {
  position:absolute;
  left:189px;
  top:68px;
  width:35px;
  height:35px;
  color:#949494;
}
#u4655 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4656 {
  position:absolute;
  left:92px;
  top:150px;
  width:132px;
  height:30px;
}
#u4657 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u4658 {
  position:absolute;
  left:107px;
  top:157px;
  width:21px;
  height:18px;
}
#u4659 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4660 {
  position:absolute;
  left:130px;
  top:154px;
  width:69px;
  height:24px;
}
#u4661 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u4662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4662 {
  position:absolute;
  left:-1px;
  top:190px;
  width:234px;
  height:40px;
}
#u4663 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4664 {
  position:absolute;
  left:-1px;
  top:230px;
  width:234px;
  height:40px;
}
#u4665 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4666 {
  position:absolute;
  left:0px;
  top:270px;
  width:234px;
  height:40px;
}
#u4667 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4668 {
  position:absolute;
  left:0px;
  top:310px;
  width:234px;
  height:40px;
}
#u4669 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4670 {
  position:absolute;
  left:0px;
  top:350px;
  width:234px;
  height:40px;
}
#u4671 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4672 {
  position:absolute;
  left:0px;
  top:390px;
  width:234px;
  height:40px;
}
#u4673 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4674 {
  position:absolute;
  left:0px;
  top:430px;
  width:234px;
  height:40px;
}
#u4675 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4676 {
  position:absolute;
  left:0px;
  top:470px;
  width:234px;
  height:40px;
}
#u4677 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4678 {
  position:absolute;
  left:0px;
  top:510px;
  width:234px;
  height:40px;
}
#u4679 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4680 {
  position:absolute;
  left:0px;
  top:550px;
  width:234px;
  height:40px;
}
#u4681 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4682 {
  position:absolute;
  left:0px;
  top:590px;
  width:234px;
  height:40px;
}
#u4683 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4684 {
  position:absolute;
  left:0px;
  top:630px;
  width:234px;
  height:40px;
}
#u4685 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:725px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4686 {
  position:absolute;
  left:238px;
  top:109px;
  width:1382px;
  height:725px;
}
#u4687 {
  position:absolute;
  left:2px;
  top:354px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4688 {
  position:absolute;
  left:0px;
  top:670px;
  width:234px;
  height:40px;
}
#u4689 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4690 {
  position:absolute;
  left:0px;
  top:710px;
  width:234px;
  height:40px;
}
#u4691 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u4692 {
  position:absolute;
  left:0px;
  top:750px;
  width:234px;
  height:40px;
}
#u4693 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u4694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4694 {
  position:absolute;
  left:376px;
  top:150px;
  width:751px;
  height:47px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4695 {
  position:absolute;
  left:2px;
  top:14px;
  width:747px;
  word-wrap:break-word;
}
#u4696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4696 {
  position:absolute;
  left:246px;
  top:117px;
  width:100px;
  height:30px;
}
#u4696_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4696.mouseOver {
}
#u4697 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4698 {
  position:absolute;
  left:376px;
  top:197px;
  width:751px;
  height:21px;
}
#u4699 {
  position:absolute;
  left:2px;
  top:3px;
  width:747px;
  word-wrap:break-word;
}
#u4700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:406px;
}
#u4700 {
  position:absolute;
  left:358px;
  top:228px;
  width:769px;
  height:406px;
}
#u4701 {
  position:absolute;
  left:2px;
  top:195px;
  width:765px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:174px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4702 {
  position:absolute;
  left:358px;
  top:644px;
  width:769px;
  height:174px;
}
#u4703 {
  position:absolute;
  left:2px;
  top:80px;
  width:765px;
  word-wrap:break-word;
}
