.headerRow{
  //border: 1px solid #8c8c8c;
  .headerCol{
    padding: 5px;
  }
  //.headerColTitle{
  //  background: #f0f8ff;
  //  border-top:1px solid #8c8c8c;
  //  //border-bottom:1px solid #8c8c8c;
  //  border-left:1px solid #8c8c8c;
  //  text-align: center;
  //}
  //.headerColVal{
  //  border: 1px solid #8c8c8c;
  //}
  .headerColTitle{
    background: #f0f8ff;
    border-top:1px solid #91d5ff;
    //border-bottom:1px solid #8c8c8c;
    border-left:1px solid #91d5ff;
    text-align: center;
  }
  .headerColVal{
    border-top: 1px solid #91d5ff;
    border-left: 1px solid #91d5ff;
    border-right: 1px solid #91d5ff;
  }
}
.ant-table thead tr th{
  text-align: center;
}

.ant-table td{
  text-align: center;
}
.ant-table-title{
  font-size: 16px;
  color: black;
  text-align: center;
  background: #bfbfbf;
}
