body {
  margin:0px;
  background-color:rgba(81, 81, 81, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1619px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:60px;
  background:inherit;
  background-color:rgba(86, 186, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:60px;
}
#u45 {
  position:absolute;
  left:2px;
  top:22px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:774px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:0px;
  top:60px;
  width:1620px;
  height:774px;
}
#u47 {
  position:absolute;
  left:2px;
  top:379px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:60px;
  background:inherit;
  background-color:rgba(86, 186, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u48 {
  position:absolute;
  left:65px;
  top:0px;
  width:366px;
  height:60px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u49 {
  position:absolute;
  left:10px;
  top:16px;
  width:354px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u50 {
  position:absolute;
  left:28px;
  top:15px;
  width:31px;
  height:29px;
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u52 {
  position:absolute;
  left:1353px;
  top:0px;
  width:267px;
  height:60px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u53 {
  position:absolute;
  left:2px;
  top:15px;
  width:235px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:332px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:243px;
  top:502px;
  width:678px;
  height:332px;
}
#u56 {
  position:absolute;
  left:2px;
  top:158px;
  width:674px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 204, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
}
#u57 {
  position:absolute;
  left:257px;
  top:509px;
  width:117px;
  height:36px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
}
#u58 {
  position:absolute;
  left:2px;
  top:9px;
  width:113px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  position:absolute;
  left:257px;
  top:554px;
  width:649px;
  height:31px;
}
#u61 {
  position:absolute;
  left:2px;
  top:8px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u62 {
  position:absolute;
  left:257px;
  top:554px;
  width:460px;
  height:31px;
  text-align:left;
}
#u63 {
  position:absolute;
  left:10px;
  top:8px;
  width:448px;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u64 {
  position:absolute;
  left:716px;
  top:554px;
  width:190px;
  height:31px;
  text-align:right;
}
#u65 {
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:257px;
  top:585px;
  width:649px;
  height:31px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u69 {
  position:absolute;
  left:257px;
  top:585px;
  width:460px;
  height:31px;
  text-align:left;
}
#u70 {
  position:absolute;
  left:10px;
  top:8px;
  width:448px;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u71 {
  position:absolute;
  left:716px;
  top:585px;
  width:190px;
  height:31px;
  text-align:right;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:257px;
  top:616px;
  width:649px;
  height:31px;
}
#u75 {
  position:absolute;
  left:2px;
  top:8px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u76 {
  position:absolute;
  left:257px;
  top:616px;
  width:460px;
  height:31px;
  text-align:left;
}
#u77 {
  position:absolute;
  left:10px;
  top:8px;
  width:448px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u78 {
  position:absolute;
  left:716px;
  top:616px;
  width:190px;
  height:31px;
  text-align:right;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:257px;
  top:648px;
  width:649px;
  height:31px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u83 {
  position:absolute;
  left:257px;
  top:648px;
  width:460px;
  height:31px;
  text-align:left;
}
#u84 {
  position:absolute;
  left:10px;
  top:8px;
  width:448px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u85 {
  position:absolute;
  left:716px;
  top:648px;
  width:190px;
  height:31px;
  text-align:right;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:257px;
  top:679px;
  width:649px;
  height:31px;
}
#u89 {
  position:absolute;
  left:2px;
  top:8px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u90 {
  position:absolute;
  left:257px;
  top:679px;
  width:460px;
  height:31px;
  text-align:left;
}
#u91 {
  position:absolute;
  left:10px;
  top:8px;
  width:448px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u92 {
  position:absolute;
  left:716px;
  top:679px;
  width:190px;
  height:31px;
  text-align:right;
}
#u93 {
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:257px;
  top:710px;
  width:649px;
  height:31px;
}
#u96 {
  position:absolute;
  left:2px;
  top:8px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u97 {
  position:absolute;
  left:257px;
  top:710px;
  width:460px;
  height:31px;
  text-align:left;
}
#u98 {
  position:absolute;
  left:10px;
  top:8px;
  width:448px;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u99 {
  position:absolute;
  left:716px;
  top:710px;
  width:190px;
  height:31px;
  text-align:right;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:257px;
  top:741px;
  width:649px;
  height:31px;
}
#u103 {
  position:absolute;
  left:2px;
  top:8px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u104 {
  position:absolute;
  left:257px;
  top:741px;
  width:460px;
  height:31px;
  text-align:left;
}
#u105 {
  position:absolute;
  left:10px;
  top:8px;
  width:448px;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u106 {
  position:absolute;
  left:716px;
  top:741px;
  width:190px;
  height:31px;
  text-align:right;
}
#u107 {
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  position:absolute;
  left:257px;
  top:772px;
  width:649px;
  height:31px;
}
#u110 {
  position:absolute;
  left:2px;
  top:8px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u111 {
  position:absolute;
  left:257px;
  top:772px;
  width:460px;
  height:31px;
  text-align:left;
}
#u112 {
  position:absolute;
  left:10px;
  top:8px;
  width:448px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u113 {
  position:absolute;
  left:716px;
  top:772px;
  width:190px;
  height:31px;
  text-align:right;
}
#u114 {
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:769px;
  top:513px;
  width:137px;
  height:35px;
}
#u115_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115.mouseOver {
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:774px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:0px;
  top:60px;
  width:234px;
  height:774px;
}
#u118 {
  position:absolute;
  left:2px;
  top:379px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1384px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  position:absolute;
  left:236px;
  top:60px;
  width:1384px;
  height:45px;
}
#u121 {
  position:absolute;
  left:2px;
  top:14px;
  width:1380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:35px;
  background:inherit;
  background-color:rgba(86, 186, 237, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u122 {
  position:absolute;
  left:243px;
  top:65px;
  width:106px;
  height:35px;
  color:#FFFFFF;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:35px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u125 {
  position:absolute;
  left:358px;
  top:65px;
  width:137px;
  height:35px;
  color:#FFFFFF;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u127 {
  position:absolute;
  left:465px;
  top:73px;
  width:20px;
  height:20px;
}
#u127_img.mouseOver {
}
#u127.mouseOver {
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:19px;
  top:81px;
  width:70px;
  height:70px;
}
#u131 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u132 {
  position:absolute;
  left:29px;
  top:95px;
  width:50px;
  height:42px;
}
#u133 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:19px;
  top:150px;
  width:70px;
  height:30px;
}
#u134_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134.mouseOver {
}
#u135 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u136 {
  position:absolute;
  left:89px;
  top:81px;
  width:121px;
  height:27px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u137 {
  position:absolute;
  left:10px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u138 {
  position:absolute;
  left:89px;
  top:108px;
  width:121px;
  height:21px;
  text-align:left;
}
#u139 {
  position:absolute;
  left:10px;
  top:3px;
  width:109px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:379px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  position:absolute;
  left:243px;
  top:113px;
  width:678px;
  height:379px;
}
#u142 {
  position:absolute;
  left:2px;
  top:182px;
  width:674px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 204, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
}
#u143 {
  position:absolute;
  left:257px;
  top:120px;
  width:117px;
  height:36px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
}
#u144 {
  position:absolute;
  left:2px;
  top:9px;
  width:113px;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  position:absolute;
  left:770px;
  top:123px;
  width:137px;
  height:35px;
}
#u145_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145.mouseOver {
}
#u146 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:320px;
}
#u147 {
  position:absolute;
  left:257px;
  top:164px;
  width:650px;
  height:320px;
}
#u148 {
  position:absolute;
  left:2px;
  top:152px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.388235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u149 {
  position:absolute;
  left:257px;
  top:453px;
  width:650px;
  height:31px;
  color:#FFFFFF;
  text-align:left;
}
#u150 {
  position:absolute;
  left:20px;
  top:8px;
  width:628px;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u151 {
  position:absolute;
  left:885px;
  top:464px;
  width:10px;
  height:10px;
}
#u152 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u153 {
  position:absolute;
  left:870px;
  top:464px;
  width:10px;
  height:10px;
}
#u154 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u155 {
  position:absolute;
  left:855px;
  top:464px;
  width:10px;
  height:10px;
}
#u156 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u157 {
  position:absolute;
  left:840px;
  top:464px;
  width:10px;
  height:10px;
}
#u158 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u159 {
  position:absolute;
  left:825px;
  top:464px;
  width:10px;
  height:10px;
}
#u160 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u161 {
  position:absolute;
  left:89px;
  top:128px;
  width:121px;
  height:21px;
  text-align:left;
}
#u162 {
  position:absolute;
  left:10px;
  top:3px;
  width:109px;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u163 {
  position:absolute;
  left:189px;
  top:68px;
  width:35px;
  height:35px;
  color:#949494;
}
#u164 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 204, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
}
#u167 {
  position:absolute;
  left:945px;
  top:507px;
  width:117px;
  height:37px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
}
#u168 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u169 {
  position:absolute;
  left:931px;
  top:500px;
  width:678px;
  height:334px;
}
#u170 {
  position:absolute;
  left:2px;
  top:159px;
  width:674px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  position:absolute;
  left:92px;
  top:150px;
  width:132px;
  height:30px;
}
#u173 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u174 {
  position:absolute;
  left:107px;
  top:157px;
  width:21px;
  height:18px;
}
#u175 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  position:absolute;
  left:130px;
  top:154px;
  width:69px;
  height:24px;
}
#u177 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:377px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179 {
  position:absolute;
  left:931px;
  top:113px;
  width:678px;
  height:377px;
}
#u180 {
  position:absolute;
  left:2px;
  top:180px;
  width:674px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 204, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
}
#u181 {
  position:absolute;
  left:945px;
  top:120px;
  width:117px;
  height:37px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
}
#u182 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u183 {
  position:absolute;
  left:964px;
  top:561px;
  width:80px;
  height:80px;
}
#u184 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u185 {
  position:absolute;
  left:1075px;
  top:561px;
  width:80px;
  height:80px;
}
#u186 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u187 {
  position:absolute;
  left:1184px;
  top:561px;
  width:80px;
  height:80px;
}
#u188 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u189 {
  position:absolute;
  left:-1px;
  top:190px;
  width:234px;
  height:40px;
}
#u190 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u191 {
  position:absolute;
  left:-1px;
  top:230px;
  width:234px;
  height:40px;
}
#u192 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u193 {
  position:absolute;
  left:0px;
  top:270px;
  width:234px;
  height:40px;
}
#u194 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u195 {
  position:absolute;
  left:0px;
  top:310px;
  width:234px;
  height:40px;
}
#u196 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u197 {
  position:absolute;
  left:0px;
  top:350px;
  width:234px;
  height:40px;
}
#u198 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u199 {
  position:absolute;
  left:0px;
  top:390px;
  width:234px;
  height:40px;
}
#u200 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u201 {
  position:absolute;
  left:0px;
  top:430px;
  width:234px;
  height:40px;
}
#u202 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u203 {
  position:absolute;
  left:0px;
  top:470px;
  width:234px;
  height:40px;
}
#u204 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u205 {
  position:absolute;
  left:0px;
  top:510px;
  width:234px;
  height:40px;
}
#u206 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u207 {
  position:absolute;
  left:0px;
  top:550px;
  width:234px;
  height:40px;
}
#u208 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u209 {
  position:absolute;
  left:0px;
  top:590px;
  width:234px;
  height:40px;
}
#u210 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u211 {
  position:absolute;
  left:0px;
  top:630px;
  width:234px;
  height:40px;
}
#u212 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u213 {
  position:absolute;
  left:0px;
  top:670px;
  width:234px;
  height:40px;
}
#u214 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u215 {
  position:absolute;
  left:0px;
  top:710px;
  width:234px;
  height:40px;
}
#u216 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u217 {
  position:absolute;
  left:0px;
  top:750px;
  width:234px;
  height:40px;
}
#u218 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF3300;
}
#u220 {
  position:absolute;
  left:1091px;
  top:120px;
  width:455px;
  height:37px;
  font-size:16px;
  color:#FF3300;
}
#u221 {
  position:absolute;
  left:2px;
  top:10px;
  width:451px;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u222 {
  position:absolute;
  left:1102px;
  top:128px;
  width:12px;
  height:21px;
}
#u223 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u224 {
  position:absolute;
  left:1523px;
  top:128px;
  width:12px;
  height:21px;
}
#u225 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u226 {
  position:absolute;
  left:945px;
  top:170px;
  width:647px;
  height:40px;
  text-align:left;
}
#u227 {
  position:absolute;
  left:2px;
  top:12px;
  width:643px;
  word-wrap:break-word;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u228 {
  position:absolute;
  left:945px;
  top:210px;
  width:647px;
  height:40px;
  text-align:left;
}
#u229 {
  position:absolute;
  left:2px;
  top:12px;
  width:643px;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u230 {
  position:absolute;
  left:945px;
  top:250px;
  width:647px;
  height:40px;
  text-align:left;
}
#u231 {
  position:absolute;
  left:2px;
  top:12px;
  width:643px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u232 {
  position:absolute;
  left:956px;
  top:185px;
  width:11px;
  height:11px;
}
#u233 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u234 {
  position:absolute;
  left:956px;
  top:225px;
  width:11px;
  height:11px;
}
#u235 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u236 {
  position:absolute;
  left:956px;
  top:265px;
  width:11px;
  height:11px;
}
#u237 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
